<a href="https://colab.research.google.com/github/AIInspire/Python/blob/main/Python_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lecture practices:

In [ ]:
def calc_mean(num1, num2, num3):
  mean_value = (num1+num2+num3)/3
  return mean_value

calc_mean(5, 3, 1)

3.0

In [ ]:
def abs_value(x):
  if x < 0:
    return -x
  else:
    return x

  return "This is a dead code!"

abs_value(-5)

5

In [ ]:
cubes = [c for c in range(1, 11)]
cubes

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
odd_nums = [odd for odd in range(20) if odd % 2 == 1]
odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
tables = [x*y for x in range(3, 30) for y in range(1, 11)]
tables

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 110,
 12,
 24,
 36,
 48,
 60,
 72,
 84,
 96,
 108,
 120,
 13,
 26,
 39,
 52,
 65,
 78,
 91,
 104,
 117,
 130,
 14,
 28,
 42,
 56,
 70,
 84,
 98,
 112,
 126,
 140,
 15,
 30,
 45,
 60,
 75,
 90,
 105,
 120,
 135,
 150,
 16,
 32,
 48,
 64,
 80,
 96,
 112,
 128,
 144,
 160,
 17,
 34,
 51,
 68,
 85,
 102,
 119,
 136,
 153,
 170,
 18,
 36,
 54,
 72,
 90,
 108,
 126,
 144,
 162,
 180,
 19,
 38,
 57,
 76,
 95,
 114,
 133,
 152,
 171,
 190,
 20,
 40,
 60,
 80,
 100,
 120,
 140,
 160,
 180,
 200,
 21,
 42,
 63,
 84,
 105,
 126,
 147,
 168,
 189,
 210,
 22,
 44,
 66,
 88,
 110,
 132,
 154,
 176,
 198,
 220,
 23,
 46,
 69,
 92,
 115,
 138,
 161,
 184,
 207,
 230,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 240,
 25,
 50,
 75,
 100,
 125,
 150,
 175,
 200,
 225,
 250,
 26,
 52,
 78,
 104,
 130,
 156,
 182,
 208,
 234,
 260,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 28,
 56,
 84,
 112,
 140,
 168,
 196,
 224,
 252,
 280,
 29,
 58,
 87,
 116,
 145,
 174,
 203,
 232,
 261,
 290]

In [ ]:
animals = ['cat', 'elephant', 'dog', 'giraffe', 'fox']

filtered_animals = [animal for animal in animals if len(animal)> 4]
filtered_animals

['elephant', 'giraffe']

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e']

letters[-3: -1]

['c', 'd']

# Lab 4 -- Part 1:

**1.  Addition and Removal**

Please write a program which asks the user to choose between addition and removal.
Depending on the choice, the program adds an item to or removes an item from the end of
a list. The item that is added must always be one greater than the last item in the list. The
first item to be added must be 1.
The list is printed out in the beginning and after each operation. Have a look at the example
execution below:
The list is now []
a(d)d, (r)emove or e(x)it: d
The list is now [1]
a(d)d, (r)emove or e(x)it: d
The list is now [1, 2]
a(d)d, (r)emove or e(x)it: d
The list is now [1, 2, 3]
a(d)d, (r)emove or e(x)it: r
The list is now [1, 2]
a(d)d, (r)emove or e(x)it: d
The list is now [1, 2, 3]
a(d)d, (r)emove or e(x)it: x
Bye!

In [ ]:
our_list = []
print("The list is now:", our_list)

process = input("Enter:\n(d)add \n(r)remove \n(x)exit:\n ").lower()

while process != "x":
  if process == "d":
    if len(our_list) == 0:
      our_list.append(1)
    else:
      our_list.append(our_list[-1] + 1)

  elif process == "r":
    if len(our_list) == 0:
      print("Can't remove. The list is already empty!")
    else:
      our_list.pop()

  print("The list is now:", our_list)
  process = input("Enter:\n(d)add \n(r)remove \n(x)exit: ").lower()

print("Bye!")

The list is now: []
Enter:
(d)add
(r)remove
(x)exit:
 d
The list is now: [1]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2, 3]
Enter:
(d)add
(r)remove
(x)exit: r
The list is now: [1, 2]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2, 3]
Enter:
(d)add
(r)remove
(x)exit: x
Bye!

In [ ]:
our_list = []
print("The list is now:", our_list)

process = input("Enter:\n(d)add \n(r)remove \n(x)exit:\n ").lower()

while process != "x":
  if process == "d":
    if len(our_list) == 0:
      our_list.append(1)
    else:
      our_list.append(len(our_list) + 1)

  elif process == "r":
    if len(our_list) == 0:
      print("Can't remove. The list is already empty!")
    else:
      our_list.pop()

  print("The list is now:", our_list)
  process = input("Enter:\n(d)add \n(r)remove \n(x)exit: ").lower()

print("Bye!")

The list is now: []
Enter:
(d)add
(r)remove
(x)exit:
 d
The list is now: [1]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2, 3]
Enter:
(d)add
(r)remove
(x)exit: r
The list is now: [1, 2]
Enter:
(d)add
(r)remove
(x)exit: d
The list is now: [1, 2, 3]
Enter:
(d)add
(r)remove
(x)exit: x
Bye!

**Distinct Numbers**

Please write a function named distinct_numbers, which takes a list of integers as its
argument. The function returns a new list containing the numbers from the original list in
order of magnitude, and so that each distinct number is present only once.
Sample Output:
my_list = [3, 2, 2, 1, 3, 3, 1]
print(distinct_numbers(my_list)) # [1, 2, 3]

In [ ]:
def distinct_numbers(our_list):
  new_list = []
  for num in our_list:
    if num not in new_list:
      new_list.append(num)

  new_list.sort()
  return new_list

my_list = [3, 2, 2, 1, 3, 3, 1]
print(distinct_numbers(my_list))

[1, 2, 3]

In [ ]:
def distinct_numbers(our_list):
    new_list = []
    for num in our_list:
        if num in new_list:
            continue
        else:
          new_list.append(num)

    new_list.sort()
    return new_list


my_list = [3, 2, 2, 1, 3, 3, 1]
print(distinct_numbers(my_list))

[1, 2, 3]

**3. The length of the longest in the list**

Please write a function named length_of_longest, which takes a list of strings as its
argument. The function returns the length of the longest string.
my_list = ["first", "second", "fourth", "eleventh"]
result = length_of_longest(my_list)
print(result) # 8
my_list = ["adele", "mark", "dorothy", "tim", "hedy", "richard"]
result = length_of_longest(my_list)
print(result) # 7

In [ ]:
def length_of_longest(our_list):
  longest = 0
  for word in our_list:
    if len(word) > longest:
      longest = len(word)

  return longest

my_list = ["first", "second", "fourth", "eleventh"]
result = length_of_longest(my_list)
print(result)

my_list = ["adele", "mark", "dorothy", "tim", "hedy", "richard"]
result = length_of_longest(my_list)
print(result)

8
7

**4. All the longest in the list**

Please write a function named all_the_longest, which takes a list of strings as its argument.
The function should return a new list containing the longest string in the original list. If
more than one are equally long, the function should return all of the longest strings.
The order of the strings in the returned list should be the same as in the original.
my_list = ["first", "second", "fourth", "eleventh"]
result = all_the_longest(my_list)
print(result) # ['eleventh']
my_list = ["adele", "mark", "dorothy", "tim", "hedy", "richard"]
result = all_the_longest(my_list)
print(result) # ['dorothy', 'richard']

In [ ]:
def all_the_longest(our_list):
  longest = 0
  new_list = []
  for word in our_list:
    if len(word) > longest:
      longest = len(word)

  for word in our_list:
    if len(word) == longest:
      new_list.append(word)
  return new_list

my_list = ["first", "second", "fourth", "eleventh"]
result = all_the_longest(my_list)
print(result)

my_list = ["adele", "mark", "dorothy", "tim", "hedy", "richard"]
result = all_the_longest(my_list)
print(result)

['eleventh']
['dorothy', 'richard']

**Same Word Twice**

Please write a program which asks the user for words. If the user types in a word for the
second time, the program should print out the number of different words typed in, and exit.
Sample Output:
Word: once
Word: upon
Word: a
Word: time
Word: upon
You typed in 4 different words

In [ ]:
words = []
word = input("Word: ")

while word not in words:
  words.append(word)
  word = input("Word: ")

print(f"\nYou typed in {len(words)} different words")

Word: once
Word: upon
Word: a
Word: time
Word: upon

You typed in 4 different words

In [ ]:
words = []
while True:
    word = input("Word: ")
    if word in words:
        break

    words.append(word)

print(f"\nYou typed in {len(words)} different words")

Word: once
Word: upon
Word: a
Word: time
Word: upon

You typed in 4 different words