<a href="https://colab.research.google.com/github/AIInspire/Python/blob/main/Python_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1) Calculator**

Please write a program which asks the user for two numbers and an operation. If the operation is add, multiply or subtract, the program should calculate and print out the result of the operation with the given numbers. If the user types in anything else, the program should print out nothing.

*Some examples of expected behaviour:*

Number 1: 10<br>
Number 2: 17<br>
Operation: add<br>

10 + 17 = 27

Number 1: 4<br>
Number 2: 6<br>
Operation: multiply<br>

4 * 6 = 24

In [ ]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd number: "))

operator = input("Enter the operator: ")

if(operator == "add"):
  result = num1 + num2
  op = "+"

elif(operator == "subtract"):
  result = num1 - num2
  op = "-"

elif(operator == "multiply"):
  result = num1 * num2
  op ="*"

print(f"{num1} {op} {num2} = {result}")

Enter the 1st number: 10
Enter the 2nd number: 17
Enter the operator: add
10 + 17 = 27

In [ ]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd number: "))

operator = input("Enter the operator: ")

if(operator == "add"):
  result = num1 + num2
  op = "+"

elif(operator == "subtract"):
  result = num1 - num2
  op = "-"

elif(operator == "multiply"):
  result = num1 * num2
  op ="*"

print(f"{num1} {op} {num2} = {result}")

Enter the 1st number: 4
Enter the 2nd number: 6
Enter the operator: multiply
4 * 6 = 24

### **2) Daily wages**

Please write a program which asks for the hourly wage, hours worked, and the day of the week. The program should then print out the daily wages, which equal hourly wage multiplied by hours worked, except on Sundays when the hourly wage is doubled.

Hourly wage: 8.5<br>
Hours worked: 3<br>
Day of the week: Monday<br>
Daily wages: 25.5 euros<br>

Hourly wage: 12.5<br>
Hours worked: 10<br>
Day of the week: Sunday<br>
Daily wages: 250.0 euros<br>

In [ ]:
hourly_wage = float(input("Hourly Wage: "))
hours_worked = float(input("Hours Worked: "))
d_of_week = input("Day of the week: ")

if(d_of_week == "Sunday"):
  daily_wages = 2 * hourly_wage * hours_worked

else:
  daily_wages = hourly_wage * hours_worked

print(f"Daily of wages: {daily_wages} euros")

Hourly Wage: 8.5
Hours Worked: 3
Day of the week: Monday
Daily of wages: 25.5 euros

In [ ]:
hourly_wage = float(input("Hourly Wage: "))
hours_worked = float(input("Hours Worked: "))
d_of_week = input("Day of the week: ")

if(d_of_week == "Sunday"):
  daily_wages = 2 * hourly_wage * hours_worked

else:
  daily_wages = hourly_wage * hours_worked

print(f"Daily of wages: {daily_wages} euros")

Hourly Wage: 12.5
Hours Worked: 10
Day of the week: Sunday
Daily of wages: 250.0 euros

### **3) Loyalty bonus**

This program calculates the end of year bonus a customer receives on their loyalty card. The bonus is calculated with the following formula:

- If there are less than a hundred points on the card, the bonus is 10 %
- In any other case the bonus is 15 %<br>
The program should work like this:

How many points are on your card? 55<br>
Your bonus is 10 %<br>
You now have 60.5 points

**But there is a problem with the program**, so with some inputs it doesn't work quite right:

How many points are on your card? 95<br>
Your bonus is 10 %<br>
Your bonus is 15 %<br>
You now have 120.175 points

Please fix the program so that there is always **either a 10 % or a 15 % bonus, but never both.**

In [ ]:
# Fix the program
points = int(input("How many points are on your card? "))
if points < 100:
  bonus = 10

if points >= 100:
    bonus = 15

print(f"Your bonus is {str(bonus)} %")
points *= ((bonus/100)+1)

print("You now have", points, "points")

How many points are on your card? 98
Your bonus is 10 %
You now have 107.80000000000001 points

In [ ]:
# Fix the program
points = int(input("How many points are on your card? "))
if points < 100:
  bonus = 10

if points >= 100:
    bonus = 15

print(f"Your bonus is {str(bonus)} %")
points *= ((bonus/100)+1)

print("You now have", points, "points")

How many points are on your card? 95
Your bonus is 10 %
You now have 104.50000000000001 points

### **4) FizzBuzz**

Please write a program which asks the user for an integer number. If the number is divisible by three, the program should print out Fizz. If the number is divisible by five, the program should print out Buzz. If the number is divisible by both three and five, the program should print out FizzBuzz.

*Some examples of expected behaviour:*

Number: 9<br>
Fizz

Number: 20<br>
Buzz

Number: 7

Number: 45<br/>
FizzBuzz

In [ ]:
num = int(input("Enter an integer number: "))

if((num % 3 == 0) and num % 5 == 0):
  print("FizzBuzz")

elif(num % 3 == 0):
  print("Fizz")

elif(num % 5 == 0):
  print("Buzz")

Enter an integer number: 9
Fizz

In [ ]:
num = int(input("Enter an integer number: "))

if((num % 3 == 0) and num % 5 == 0):
  print("FizzBuzz")

elif(num % 3 == 0):
  print("Fizz")

elif(num % 5 == 0):
  print("Buzz")

Enter an integer number: 20
Buzz

In [ ]:
num = int(input("Enter an integer number: "))

if((num % 3 == 0) and num % 5 == 0):
  print("FizzBuzz")

elif(num % 3 == 0):
  print("Fizz")

elif(num % 5 == 0):
  print("Buzz")

Enter an integer number: 7

In [ ]:
num = int(input("Enter an integer number: "))

if((num % 3 == 0) and num % 5 == 0):
  print("FizzBuzz")

elif(num % 3 == 0):
  print("Fizz")

elif(num % 5 == 0):
  print("Buzz")

Enter an integer number: 45
FizzBuzz

### **5) PIN and number of attempts**

Please write a program which keeps asking the user for a PIN code until they type in the correct one, which is 4321. The program should then print out the number of times the user tried different codes.

PIN: 3245<br>
Wrong<br>
PIN: 1234<br>
Wrong<br>
PIN: 0000<br>
Wrong<br>
PIN: 4321<br>
Correct! It took you 4 attempts

**If the user gets it right on the first try,** the program should print out something a bit different:

PIN: 4321<br>
Correct! It only took you one single attempt!

In [ ]:
pin = input("PIN: ")
i = 0

while (pin != '4321'):
  pin = input("Worng. \nPIN: ")
  i+= 1

if(i == 0):
  print("Correct! It only took you one single attempt!")

else:
  print(f"Correct! It took you {i+1} attempts")

PIN: 4321
Correct! It only took you one single attempt!

In [ ]:
pin = input("PIN: ")
i = 0

while (pin != '4321'):
  pin = input("Worng. \nPIN: ")
  i+= 1

if(i == 0):
  print("Correct! It only took you one single attempt!")

else:
  print(f"Correct! It took you {i+1} attempts")

PIN: 0000
Worng.
PIN: 1234
Worng.
PIN: 4321
Correct! It took you 3 attempts

### **6) Display numbers from -10 to -1**

-10<br>
-9<br>
-8<br>
-7<br>
-6<br>
-5<br>
-4<br>
-3<br>
-2<br>
-1<br>

In [ ]:
for num in range(-10, 0, 1):
  print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### **7) Bonus: Reverse integer number**

Given:<br>

76542<br>

Expected output:<br>

24567<br>

In [ ]:
num = input("Enter a number: ")
new_num = ""
length = len(num)

for i in range(length-1, -1, -1):
  new_num += num[i]

print(new_num)

Enter a number: 76542
24567

In [ ]:
num = int(input("Enter a number: "))
reversed_num = 0

while num != 0:
    rem = num % 10
    reversed_num = reversed_num * 10 + rem
    num //= 10

print("Reversed Number: " + str(reversed_num))

Enter a number: 76542
Reversed Number: 24567

# **Python Lab (3)**

# write a function named triangle
Please write a function named triangle, which draws a triangle of
hashes, and takes one argument. The triangle should be as tall and
as wide as the value of the argument.
Some examples:
triangle(6)
triangle(3)
#
##
###
####
#####
######
#
##
###

In [ ]:
def triangle(num):
  for n in range(1, num+1):
    print(n*"#")


triangle(6)

#
##
###
####
#####
######

In [ ]:
triangle(3)

#
##
###

# 2. a function named greatest_number
Please write a function named greatest_number, which takes three
arguments. The function returns the greatest in value of the three.
[without using max function, and solve it in two ways]
print(greatest_number(3, 4, 1)) # 4
print(greatest_number(99, -4, 7)) # 99
print(greatest_number(0, 0, 0)) # 0

In [ ]:
def greatest_number(num1, num2, num3):
  max = num1
  if(num2 > max):
    max = num2

  if(num3 > max):
    max = num3
  print(max)

greatest_number(3, 4, 1)
greatest_number(99, -4, 7)
greatest_number(0, 0, 0)

4
99
0

In [ ]:
def greatest_number(num1, num2, num3):
  if ((num1 >= num2) and (num1 >= num3)):
    print(num1)
  elif num2 >= num1 and num2 >= num3:
    print(num2)
  elif num3 >= num1 and num3 >= num2:
    print(num3)

greatest_number(3, 4, 1)
greatest_number(99, -4, 7)
greatest_number(0, 0, 0)

4
99
0

# 3. a function sum_series(n)
series:
1 - 2 + 3 - 4 + 5 - ... up to n
Write a function sum_series(n) that calculates the sum of the
series:
1 - 2 + 3 - 4 + 5 - ... up to n

In [ ]:
def sum_series(n):
  sum = 0
  for num in range(1, n+1):
    if(num % 2 == 0):
      sum -= num
    else:
      sum += num
  print(sum)

sum = sum_series(5)

3

# 4.  calculate the factorial of a number
Write a Python function to calculate the factorial of a number (a
non-negative integer). The function accepts the number as an
argument.

In [ ]:
def factorial(n):
  if(n == 0):
    return 1
  else:
    return n * factorial(n-1)

factorial(3)

6

# 5. a palindrome
Implement a function that checks if a given word is a palindrome
(reads the same forwards and backwards)

In [ ]:
def palindrome(word):
  rev_word = ""

  for l in word:
    rev_word += l

  return rev_word

palindrome("uhkjj")

'uhkjj'